/* Font  */

@font-face {
    font-family: robotor;
    src: url("RobotoSlab-Regular.ttf");
}

.fontroboto {
    font-family: robotor;
}


/* End Font Nsh */


/* Start top header*/

.contact.open.float-sm-right {
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.contact {
    border-left: 1px solid #ddd;
    float: left;
    margin-left: 17px;
    /* margin-right: 24px; */
    padding-left: 24px;
    font-family: robotor;
    font-size: 13px;
}

.socialnetwork a:nth-child(1) {
    padding-left: 0;
}

.socialnetwork a {
    color: #dddddd;
    font-size: 12px;
    padding: 0 13px;
}

.topheader {
    height: 40px;
    background: #222222;
    color: #cbcbcb;
    line-height: 40px;
}


/* End top header Nsh */


/* Begin logo and menu */

.datban a.nav-link.btn.btn-warning {
    border-radius: 0px;
    font-size: 13px;
    color: black;
    height: 44px;
    width: 150px;
    line-height: 44px;
    transform: translateY(-12px);
}

a.nav-link {
    color: #777;
    font-size: 14px;
    padding: 0 15px;
}


/* End logo and menu Nsh */

* {
    margin: 0;
    padding: 0;
}


/* Handling mobile interface */

@media (max-width:576px) {
    * {}
    .socialnetwork.float-sm-left.text-xs-center.text-sm-left {
        text-align: center;
    }
    a.navbar-brand img {
        width: 80px;
    }
    button.btn.btn-outline-success.my-2.my-sm-0 {
        width: 100%;
        border-color: #feb518;
        background-color: #feb518;
        color: black;
    }
    a.nav-link {
        text-align: center;
        padding: 14px 0;
        margin: 0;
        display: block;
        border-bottom: 1px solid #ddd;
    }
    .contact {
        border-left: none;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        border-top: 1px dashed #dddddd54;
    }
    .topheader {
        height: auto;
        padding-bottom: 10px;
    }
    .contact.open.float-sm-right {
        border-right: none;
        padding-right: 0px;
    }
    .datban a.nav-link.btn.btn-warning {
        margin-top: 19px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 45px;
        padding-top: 0;
        line-height: 45px;
        border-bottom: 0px;
    }
}


/* END Handling mobile interface Nsh */