/* Font  */

@font-face {
    font-family: robotor;
    src: url("RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: Oswal;
    src: url("Oswald-Bold.ttf");
}

.fontroboto {
    font-family: robotor;
}

.fontoswal {
    font-family: Oswal;
}


/* End Font Nsh */


/* Start top header*/

.contact.open.float-sm-right {
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.contact {
    border-left: 1px solid #ddd;
    float: left;
    margin-left: 17px;
    /* margin-right: 24px; */
    padding-left: 24px;
    font-family: robotor;
    font-size: 13px;
}

.socialnetwork a:nth-child(1) {
    padding-left: 0;
}

.socialnetwork a {
    color: #dddddd;
    font-size: 12px;
    padding: 0 13px;
}

.topheader {
    height: 40px;
    background: #222222;
    color: #cbcbcb;
    line-height: 40px;
}


/* End top header Nsh */


/* Begin logo and menu */

.datban a.nav-link.btn.btn-warning {
    border-radius: 0px;
    font-size: 13px;
    color: black;
    height: 44px;
    width: 150px;
    line-height: 44px;
    transform: translateY(-12px);
}

a.nav-link {
    color: #777;
    font-size: 14px;
    padding: 0 15px;
}

ul.navbar-nav.mr-auto.float-sm-right {
    margin-top: 25px;
}


/* End logo and menu Nsh */


/* BEGIN Css slide */

a.nutslide.btn.btn-warning {
    border-radius: 0px;
    height: 50px;
    width: 165px;
    color: black;
    line-height: 50px;
    padding: 0px;
    font-size: 14px;
    font-family: robotor;
    margin-left: 30px;
}

.noidung.fontoswal {
    color: white;
    margin-left: -64%;
    background: url(images/icon1.png) no-repeat top;
    padding-top: 152px;
    top: 102px;
}

.noidung.fontoswal h3 {
    color: white;
    font-size: 50px;
    padding-left: 432px;
}

.slide {
    width: 100%;
}

.noidung p {
    color: white;
    font-family: robotor;
    font-size: 14px;
    /* padding-left: 1000px; */
    margin-left: 956px;
    text-align: left;
    width: 625px;
}


/* END CSS Slide Nsh */


/* BEGIN Three services */

* {
    margin: 0;
    padding: 0;
}

a.readmore.fontroboto {
    color: #333;
    text-align: center;
    font-size: 14px;
    display: block;
    padding-top: 29px;
}

h3.fontoswal a {
    font-size: 20px;
    color: #333;
    display: block;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
}

.threeservices {
    padding-top: 121px;
}

p.fontroboto {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #777;
}


/* END Three services */


/* Handling mobile interface */

@media (max-width:576px) {
    * {}
    .threeservices a img {
        margin-left: 35px;
    }
    a.readmore.fontroboto {
        padding-bottom: 15px;
        border-bottom: 1px dashed #ccc9c9;
        margin-bottom: 15px;
    }
    .threeservices {
        padding-top: 60px;
        /* margin-left: 30px; */
    }
    a.nutslide.btn.btn-warning {
        margin-left: 58px;
        height: 35px;
        width: 120px;
        line-height: 35px;
    }
    .noidung.fontoswal p {
        margin-left: 289px;
        width: 250px;
        font-size: 8px;
    }
    .noidung.fontoswal h3 {
        font-size: 17px;
        padding-left: 138px;
    }
    h3 {}
    .carousel-caption.noidung.fontoswal {
        padding: 0;
        top: 36px;
        background: none;
    }
    .socialnetwork.float-sm-left.text-xs-center.text-sm-left {
        text-align: center;
    }
    a.navbar-brand img {
        width: 80px;
    }
    button.btn.btn-outline-success.my-2.my-sm-0 {
        width: 100%;
        border-color: #feb518;
        background-color: #feb518;
        color: black;
    }
    a.nav-link {
        text-align: center;
        padding: 14px 0;
        margin: 0;
        display: block;
        border-bottom: 1px solid #ddd;
    }
    .contact {
        border-left: none;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        border-top: 1px dashed #dddddd54;
    }
    .topheader {
        height: auto;
        padding-bottom: 10px;
    }
    .contact.open.float-sm-right {
        border-right: none;
        padding-right: 0px;
    }
    .datban a.nav-link.btn.btn-warning {
        margin-top: 19px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 45px;
        padding-top: 0;
        line-height: 45px;
        border-bottom: 0px;
    }
}


/* END Handling mobile interface Nsh */